.home{
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;


}
.intro{
    /* max-width: 540px; */
    display: flex;
    text-align: center;
    grid-template-columns: repeat(2 , 1fr);
}
.intro__nam{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 5rem;
} 
.home__img{
    margin-bottom: 1.5rem;
    width: 200px;
    height: fit-content;

    border-radius: 10%;
}
.home__name{
    font-size: var(--h1-font-size);
    font-weight: var(--font-bold);
    margin-bottom: 0.5rem;
}
.home__socials{
    display: flex;
    column-gap: 1.75rem;
    align-items: center;
    justify-content: center;
    margin: 1.5rem 0;
}
.home__social-link{
color: var(--title-color);
font-size: 1.3rem;
/* transition: .3s; */
}
.home__social-link:hover{
color: hsl(290, 100%, 68%);
}
.scroll__down{
    position: absolute;
    bottom: 2.5rem;
    left: 0;
    width: 100%;
}
.home__scroll-name{
    font-size: var(--small-font-size);
}
.mouse{
    border: 2px solid #454360;
    display: block;
    height: 1.6rem;
    width:1.25rem ;
    margin: auto;
    margin-top: .75rem;
    border-radius: 1rem;
    position: relative;
}
@keyframes ani-mouse {
    0%{
        top: 29%;
    }
    15%{
        top: 50%;
    }
    50%{
        top: 50%;
    }
    100%{
        top: 29%;
    }
}

.wheel{
    background-color: var(--title-color);
    border-radius: 100%;
    width: 0.25rem;
    height: 0.25rem;
    position: absolute;
    top: .5rem;
    left: 50%;
    transform: translateX(-50%);
    animation: ani-mouse 2s linear infinite;
}
.intro{
z-index: 2;
}
.shapes{
    position: absolute;
    height: 100%;
    width: 100%;
}
@keyframes ani-shape {
    0%{
        top: -60%;
    }
    15%{
        top: -50%;
    }
    50%{
        top: -60%;
    }
    100%{
        top: -40%;
    }
}
.shape1{
    position: absolute;
    height: 50%;
    width: 50%;
    left: -60%;
    top: 10%;
 
}
.shape2{
    position: absolute;
    height: 80%;
    width: 80%;
    left: 60%;
    top: -40%;
    animation: ani-shape 10s ease-out 1;
    transition: .3s;
}
.shape3{
    position: absolute;
    height: 30%;
    width: 30%;
    right: 100%;
    top: 60%;
    transition: .3s;
}
.my-btn{
    /* width: 150px;
    height: 150px; */
    outline-color:var(--first-color) ;
    outline-width: 2px;
    outline-style:solid;
    padding: 15px;
    border-radius: 30px;
}
.my-btn:hover{
  outline: none;
  background-color:var(--first-color);
  color: #fff;
}
@media screen and (max-width:1024px){

    .home__social-link{
        font-size: 1.125rem;
    }

  }
  @media screen and (max-width:767px){

    .home__social-link{
        font-size: 1.125rem;
    }
    .intro{
       
        display: block;
      
    }
  }